@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(48, 108, 213),
    #dd77d3
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.navbar a {
  transition: transform 0.22s;
  transform: scale(1);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.narvbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 11px 9px;
  text-decoration: none;
  margin-left:3px;
}

.navbar li :hover {
  background-color: rgb(17, 17, 17, 0.7);
  border-radius: 5px;
}

.navbar a:hover {
  transform: scale(0.9);
}

.navico {
  height: 55px;
  padding: 5px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 1s;
}

.navico:hover {
  transform: rotate(360deg);
}

.content {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  margin-top: 50px;
}

.main-image {
  height: 240px;
}

.main-text {
  text-align: center;
  margin: 20px;
}

h1 {
  margin: 5px;
  align-items: center;
}

.socials i {
  transform: scale(1);
  transition: transform 0.4s;
}

.socials i:hover {
  transform: scale(0.9);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  padding-top: 40px;
}

.socials a {
  padding: 7px;
  text-decoration: none;
  color: white;
  margin-top: 8px;
}

.socials a:first-of-type {
  border-right: 2px solid white;
}

.hide {
  font-size: 25px;
  color: white;
  align-items: center;
  padding-left: 5px;
}

body.home-page .navbar .home-link {
  border-bottom: 2px solid white;
  border-radius: 5px;
  background-color: rgba(133, 133, 133, 0.4)
}

body.skills-page .navbar .skills-link {
  border-bottom: 2px solid white;
  border-radius: 5px;
  background-color: rgba(133, 133, 133, 0.4)
}

@media (max-width: 768px) {
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .content {
    flex-direction: column;
  }
  .hide {
    display: none;
  }
  .socials {
    padding-top: 0px;
  }
}
