@keyframes float {
	0% {
		transform: translatey(0);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(365deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
