@use "hero/hero";

main {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	@media (min-width: 1200px){
		height: initial;
	}
}

//make sure items don't shrink to fit main and transition properly
.section {
	padding: 3rem 4vw;
	flex-shrink: 0;
	transition: background 0.7s ease;
	min-height: 100%;
	&:first-child{
		padding-top: 0;
		padding-bottom: 0;
	}
}
