//gradient between hero and about
body .fade__1 {
	position: relative;
	background: linear-gradient(to bottom, #fafafa, 20%, #e6e6e6);
}

body .fade__1::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, #373737, 20%, #555);
	z-index: 1;
	transition: opacity 0.7s ease;
	opacity: 0;
}

body.dark .fade__1::after {
	opacity: 1;
}

//styling for about
#about {
	display: flex;
	flex-direction: column;
	background: var(--about-background);
	height: fit-content;
	justify-content: space-around;
	gap: 1em;
	p {
		color: var(--hero-font);
		font-size: 1.5rem;
		font-family: roboto;
		line-height: 1.6;
		@media screen and (min-width: 700px) {
			max-width: 55vh;
		}
		flex-shrink: 1;
	}
	@media screen and (min-width: 700px) {
		flex-direction: row-reverse;
	}
}

#about .cards {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	.pfp {
		width: 90%;
		padding: 5%;
		border-radius: 0.5rem;
		background: var(--cards-about-background);
		max-width: 400px;
		@media screen and (min-width: 900px) {
			width: max-content;
		}
	}
	.socials {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		gap: 10px;
		a,
		button {
			border: none;
			background: var(--cards-about-background);
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 0.4rem 0;
			border-radius: 0.25em;
			color: var(--hero-font);
			cursor: pointer;
			svg {
				height: 2rem;
			}
		}
	}

	.dc__card.visible {
		transform: scale(1);
	}
	.dc__card {
		transform-origin: top;
		transform: scale(0);
		transition: all 1s ease;
		width: max-content;
		align-items: center;
		flex-direction: column;
		display: flex;
		background: var(--cards-about-background);
		padding: 8px 2rem;
		border-radius: 0.5em;
		.Ediv {
			display: flex;
			justify-content: center;
			color: var(--hero-font);
			font-family: roboto, sans-serif;
		}
		.Cdiv {
			position: relative;
			width: max-content;
			.avatar {
				border-radius: 50%;
			}
			.status {
				position: absolute;
				width: 22px;
				height: 22px;
				bottom: 13px;
				right: 13px;
				border-radius: 100%;
			}
			.online {
				background: #3ba55d;
			}
			.dnd {
				background: #ed4245;
			}
			.idle {
				background: #faa81a;
			}
			.offline {
				background: #888888;
			}
		}
	}
	@media screen and (min-width: 700px) {
		flex-direction: column;
	}
}
