body {
	--nav-background: #f0f0f0;
	--nav-items: #000000;
	--hero-background: #fafafa;
	--about-background: #e6e6e6;
	--cards-about-background: #c2c2c2;
	--hero-font: #000000;
	--nav-size: 2.5rem;
}

body.dark {
	--nav-items: #ffffff;
	--nav-background: #424242;
	--hero-font: #ffffff;
	--hero-background: #373737;
	--about-background: #555555;
	--cards-about-background: #444444;
}
