:root {
  --hero-primary: #2c2c2a;
  --hero-secondary: #d1ebd3;
  --projects-background: #f3ead3;
  --projects-primary: #55544a;
  --projects-primary-hover: #1f1a1a;
  --projects-secondary: #a5a086;
  --projects-tertiary: #d1c9ae;
}

@media (prefers-color-scheme: dark) {
  :root {
    --projects-background: #1b1918;
    --projects-primary: #8b8470;
    --projects-primary-hover: #cfbfa6;
    --projects-secondary: #4d453d;
    --projects-tertiary: #443d36;
  }
}

html {
  background-color: var(--projects-background);
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
