.darkToggle__wrap {
	background-color: var(--nav-background);
	height: max-content;
	position: absolute;
	width: var(--nav-size);
	height: var(--nav-size);
	top: -45px;
	right: 5px;
	border-radius: 0.3rem;
	transition: background 1s ease;
	@media (min-width: 1200px) {
		position: initial;
		cursor: pointer;
	}
}

body.dark .darkToggle {
	background-image: url(/sun.svg);
	filter: invert(88%) sepia(7%) saturate(4132%) hue-rotate(358deg)
		brightness(106%) contrast(105%);
	transition: transform 0.5s ease;
	transform: scale(90%);
}

body .darkToggle {
	background-image: url(/moon.svg);
	filter: invert(11%) sepia(61%) saturate(3071%) hue-rotate(229deg)
		brightness(109%) contrast(106%);
	transition: transform 0.5s ease;
	transform: scale(90%);
}

body .darkToggle {
	@media screen and (pointer: fine) {
		&:hover {
			transition: 0.1s ease;
			transform: scale(80%);
		}
		&:active {
			transform: scale(100%);
		}
	}
	&:active {
		transition: all 0.1s ease;
		transform: scale(95%);
	}
}

body .darkToggle {
	position: absolute;
	width: var(--nav-size);
	height: var(--nav-size);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-color: transparent;
	border: none;
	@media (min-width: 1200px) {
		position: initial;
		cursor: pointer;
	}
}
