@media (hover: hover) {
	@keyframes jump {
		0%{
			transform: translateY(0);
		}

		25%{
			transform: translateY(-10px);
		}

		50%{
			transform: translateY(0);
		}

		75%{
			transform: translateY(-10px);
		}

		100%{
			transform: translateY(0);
		}
	}

	@keyframes in {
		from {
			transform: scale(0%);
			position: absolute;
			z-index: -1;
		}

		25% {
			z-index: -1;
		}

		75% {
			z-index: 100;
		}

		to {
			position: block;
			z-index: 100;
			transform: scale(100%);
		}
	}

	@keyframes out {
		to {
			transform: scale(0);
			position: absolute;
			z-index: -1;
		}

		75% {
			z-index: -1;
		}

		25% {
			z-index: 100;
		}

		from {
			z-index: 100;
			transform: scale(100%);
		}
	}

	// @media (min-width: 768px) {
	.nav__item {
		// transition: all 1s ease;
	}

	.nav__item svg {
		display: block;
		color: var(--nav-items);
	}

	.nav__item::before {
		content: "";
		width: 0.8rem;
		height: 0.8rem;
		background: var(--nav-items);
		display: block;
		margin: 0.35rem;
		border-radius: 100%;
	}
}
