@use "keyframes";

.logo {
	display: initial;
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	@media (prefers-reduced-motion: no-preference) {
		animation: jump 1s ease 1s;
	}
}

body {
	.logo,
	.logo * {
		transition: all 0.5s ease;
	}
	.logo {
		#background {
			fill: transparent;
		}
		#V {
			fill: var(--nav-items);
		}
		#I * {
			fill: var(--nav-background);
		}
		#R * {
			fill: var(--nav-background);
		}
		#Ellipse-6 {
			fill: var(--nav-items);
		}
	}
}

#I {
	transition: transform 1s ease;
}

#R {
	transform-origin: top left;
	transition: transform 1.5s cubic-bezier(1, 0.5, 0, 0.95);
}

.logo:hover #I {
	transform-origin: inherit center;
	transform: rotate(25deg);
}

.logo:hover #R {
	transform: rotate(-100deg);
}
