@use "logo";
@use "keyframes";
@use "darktoggle";

body {
	display: flex;
	flex-direction: column-reverse;
	@media (min-width: 1200px) {
		flex-direction: row;
	}
}

.main__nav {
	z-index: 3;
	margin: 0;
	height: max-content;
	width: inherit;
	display: flex;
	flex-direction: row;
	background: var(--nav-background);
	position: sticky;
	transition: background 1s ease;

	@media (min-width: 1200px) {
		width: 4rem;
		flex-direction: column;
		height: initial;
	}

	nav {
		display: flex;
		flex-direction: column;
		margin: 1vh 0;
		height: 100%;
		width: 100%;
		align-items: inherit;
		@media (min-width: 1200px) {
			justify-content: space-between;
			align-items: center;
		}
	}

	.nav__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style: none;
		padding: 0.5rem 0;
		margin: 0;
		@media (min-width: 1200px) {
			flex-direction: column;
			padding: 0;
			gap: 0.7rem;
			justify-content: center;
			width: 100%;
		}
	}

	.nav__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: inherit;
		&:focus {
			outline: auto;
		}
	}

	.logo,
	.nav__text {
		display: none;
	}

	@media (min-width: 1200px) {
		.darkToggle,
		.logo {
			display: initial;
		}
	}

	.nav__icon {
		color: var(--nav-items);
	}
}

//only if poiting device is present
@media screen and (pointer: fine) {
	.main__nav:hover .nav__item,
	.main__nav:focus-within .nav__item {
		&::before {
			animation: out 0.2s linear 0s normal both;
		}
		.nav__icon {
			animation: in 0.2s linear 0s normal both;
		}
	}

	.nav__item {
		&::before {
			animation: in 0.2s linear 0s normal both;
		}
		.nav__icon {
			animation: out 0.2s linear 0s normal both;
		}
	}

	//making this a seperate section is required for this to work for some reason
	.nav__item-active {
		&::before {
			animation: out 0.2s linear 0s normal both;
		}
		.nav__icon {
			animation: in 0.2s linear 0s normal both;
		}
	}
}
